@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,700;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;500&display=swap');

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.services {
    display: flex;
    gap: 1rem;
}

.service {
    cursor: pointer;
    font-size: 18px;
    font-family: 'oswald';
}

.service:hover {
    color: #009966;
    border-radius: 10px;
}

.property-btn {
    background-color: #56a0d3;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: 'barlow';
}

.property-btn:hover {
    color: pink;
}

.lang {
    font-size: 18px;
    text-decoration: none;

}

.brand-name1 {
    color: #56a0d3;
    font-size: 30px;
    font-weight: bold;
    font-family: 'merriweather';
}

.brand-name2 {
    color: #009966;
    font-size: 40px;
    font-weight: bold;
    font-family: 'merriweather';
}

.lang {
    color: grey;
}