.form {
    box-shadow: 2px 3px 8px 1px rgb(31, 29, 29);
    border: none;
    position: relative;
    top: 1.5rem;
    padding: 2rem;
}

label {
    font-size: 16px;
    font-weight: bold;
}

.blogpage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 90px;
    bottom: 7px;
}

.submitbtn {
    position: relative;
    top: 8px;
    left: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #009966;
    padding: 1rem;
    font-size: 20px;
    font-weight: bold;
    font-family: 'barlow';
    background-color: transparent;
    border-radius: 7px;
    color: rgba(0, 0, 0, 0.71);
}

.submitbtn:hover {
    background-color: #009966;
    color: white;
    text-shadow: 2px 2px 9px rgb(43, 42, 42);

}

.select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgba(158, 158, 158, 0.486);
    font: size 16px;
    font-weight: 600;
    font-family: 'barlow';
    margin-top: 4%;
    margin-left: 4px;

}